<footer class="my-footer container-fluid footer d-flex justify-content-center align-items-center">
    <div class="card rounded-1">
        <div class="card-body d-flex justify-content-center">
            <%= link_to 'Add new Restaurant', new_group_path, class: "add-restaurant-btn" %>
        </div>
    </div>
</footer>
    

