<div class="splash-main">
    <div class="splash-container">
        <h2>BudgetApp</h2>
    </div>
    <%= link_to "Login In", new_user_session_path, class:"login-link btn btn-lg" %>
    <%= link_to "Sign up", new_user_registration_path, class:"signup-link btn btn-lg" %>
</div>



