/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root{

    --main-color: #3778c2;
    --text-color: #434b54 ;
    --second-color: #5fb523 ;
    --white-color: #fff;

}

@font-face {
    font-family: 'Proxima Nova-Bold';
    src: url('../fonts/proxima_nova_bold.ttf') format('ttf');
}
*{
    text-decoration: none !important;
}

body{
    font-family: 'Proxima Nova-Bold', sans-serif !important;
    background-color: whitesmoke !important;    
}

 .navbar{
    background-color: var(--main-color)  !important;
 }

 .navbar-brand{
    font-family: 'Proxima Nova-Bold', sans-serif !important;
    color: var(--white-color) !important;
    margin-left: 60px !important;
    font-size: 25px !important;
 }

 .nav-icon{
    color: var(--white-color) !important;
 }

 .most-recent p{
    margin-bottom: 0px !important;
    color: var(--white-color) !important;
    font-weight: 100;
 }

 .dot {
    width: 5px;
    height: 5px;
    background-color: var(--white-color); 
    border-radius: 50%;
  }

  .gift-heading{
    color: var(--text-color) !important;
  }

  .gift-amount{
    color: var(--text-color) !important;
    font-weight: bold;
  }

  .my-footer{
    position: fixed !important;
    bottom: 0 !important;
    background-color: var(--second-color) !important;
    height: 100px !important;
  }

  .my-footer .card{
    width: 90% !important;
    background-color: var(--second-color) !important;
    border-color: var(--white-color) !important;
  }

  .add-restaurant-btn{
    color: var(--white-color) !important;
    text-decoration: none !important;
    font-size: 20px;
    font-weight: 100;
  }

  .restaurant-card-container{
    padding: 20px !important;
    padding-bottom: 170px !important;
  }

  .square-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .square-image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-left: 10px !important;
  }

  .square-image img {
    width: 100%;
    height: auto;
  }

  .restaurant-card-right{
    padding-left: 0px !important;
  }

  .restaurant-title-container{
    display: flex;
    justify-content: space-between;
  }

  .card-title{
    color: var(--text-color) !important;
  }

  .restaurant-title-container p{
    font-weight: bold;
    color: var(--text-color) !important;
  }

  .card-text .text-body-secondary{
    color: var(--text-color) !important;
  }

  .food-container{
    display: flex !important;
    justify-content: space-between !important;
    background-color: #ebf7c8 !important;
  }

  .food-container p{
    color: var(--text-color) !important;
    font-weight: bold;
    margin-bottom: 0 !important;
  }

